body {
    padding-top: 20px;
    padding-bottom: 20px;
}
.row.row-custom {
    margin-top: 10px;
}
#menu{
    margin-bottom: 40px;
}
.upload-drop-zone {
    height: 100px;
    border-width: 2px;
    margin-bottom: 20px;
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 100px;
    text-align: center;
}
.drop {
    color: #222;
    border-color: #222;
}
.img-responsive {
    margin: 0 auto;
}
.form-control {
    width: 15%;
    margin: 0 auto;
}
.btn-file {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: green;
    cursor: inherit;
    display: block;
}
.glyphicon-refresh-animate {
    -animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}
@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}
