{% extends "base.html" %} {% block content %}
<div class="row row-custom">
    <div class="col-md-12">
        <h4>Select your poster size</h4>
        <select class="form-control" id="photo-size">
            <option value="4">4 columns</option>
            <option value="10">10 columns</option>
            <option value="25">25 columns</option>
        </select>
    </div>
</div>
<div class="row row-custom">
    <div class="col-md-12">
        <h4>Select images from your computer</h4>

        <div class="upload-drop-zone" id="drop-zone">
            Drag and drop files here...
        </div>
    </div>
</div>
<div class="row row-custom">
    <div class="form-group">
        <span class="btn btn-primary btn-file">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Select files...</span>
        <input type="file" id="button-zone"></input>
        </span>
    </div>
</div>

<img class="img-responsive" src="" id="ticket-image"> {% endblock %}
