<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link href="static/theme.css" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="static/scripts.js"></script>


<head>
    <meta charset="UTF-8"></meta>
    <meta name="author" content="Pablo Garrido Sanchez"></meta>
    <!--    <link rel="stylesheet" type="text/css" href="static/style.css"></link>-->
    <title>WebTickets</title>
</head>

<body role="document">
    <div class="container theme-showcase" role="main">
        <h1>WebTickets</h1>
        <p>Ticket Postal Postering</p>

        <div class="container">
            <h4>Select files from your computer</h4>

            <div class="upload-drop-zone" id="drop-zone">
                Just drag and drop files here
            </div>

            <img class="img-responsive" src="" id="ticket-image">


        </div>
    </div>
</body>

</html>
