{% extends "base.html" %} {% block content %}

<div class="row" id="menu">
    <div class="col-md-6">
        <img class="img-responsive" src="/static/samples/5.jpg">
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="/static/samples/3.jpg">
    </div>
    <div class="col-md-12">
        <img class="img-responsive" src="/static/samples/1.jpg">
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="/static/samples/2.jpg">
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="/static/samples/4.jpg">
    </div>

</div>
{% endblock %}
